input {
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px;
}
.add-product-wrapper {
    margin-top: 5rem;
}
label {
    font-weight: 700;
    display: block;
    font-size: 13px;
}
.upload {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 8px;
    background-color:#dcffec;
    color: #71ba58;
    margin-top: 2.2rem;
    height: 28px;
    border: 1px solid #71ba58;
    border-radius: 5px;
    cursor: pointer;
}
.save-btn {
    width: 80px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #71ba58;
    float: right;
    margin-top: 2rem;
    cursor: pointer;
    color: white;
}